<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <header th:fragment="copy" class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<a id="logo" th:href="@{/home}" th:text="#{application.logo}">Sample App</a>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/home}" th:text="#{header.home}">Home</a></li>
				<li><a th:href="@{/help}" th:text="#{header.help}">Help</a></li>
				<li><a th:href="@{/login}" th:text="#{header.login}">Log in</a></li>
			</ul>
		</nav>
	</div>
  </header>
</body>
</html>